/vendor/
/node_modules/
/.env
/.idea/
/.vscode/
*.log
Homestead.json
Homestead.yaml
auth.json
*.swp
*.swo
*~
.DS_Store
Thumbs.db
/public/hot
/public/storage
/storage/*.key
npm-debug.log
yarn-error.log
